.dark .dark\:bg-body {
    background-color: #252528;
}
.dark .dark\:bg-dark {
    background-color: #2e2e30;
}
.dark .dark\:border-white-018 {
    --tw-border-opacity: 0.1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Good Times";
}
p,span,small,li {
    font-family: Roboto;
}
.flex-auto {
    flex: 1 1 auto;
}
.flex-none {
    flex: none;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}
.w-100 {
    width: 100%;
}
