@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url("../../public/fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'GoodTImes';
    font-display: swap;
    src: url("../../public/fonts/good_times_rg.otf") format("opentype");
}
.dark .dark\:bg-body {
    background-color: #252528;
}
.dark .dark\:bg-dark {
    background-color: #2e2e30;
}
.dark .dark\:border-white-018 {
    --tw-border-opacity: 0.1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
h1,h2,h3,h4,h5,h6 {
    font-family: GoodTImes;
}
p,span,small,li {
    font-family: Roboto;
}
.flex-auto {
    flex: 1 1 auto;
}
.flex-none {
    flex: none;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}
.w-100 {
    width: 100%;
}
.multiselect-caret {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 320 512' fill='darkgray' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'%3e%3c/path%3e%3c/svg%3e");
}
.multiselect-clear-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 320 512' fill='darkgray' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z'%3e%3c/path%3e%3c/svg%3e");
}
